annotated-types==0.7.0
asgiref==3.8.1
certifi==2024.6.2
cffi==1.16.0
charset-normalizer==3.3.2
cryptography==42.0.8
DateTime==5.5
Django==5.0
django-allauth==0.63.3
django-qr-code==4.1.0
djangorestframework==3.15.1
gunicorn==22.0.0
idna==3.7
numpy==1.26.4
oauthlib==3.2.2
packaging==24.0
pandas==2.2.2
pycparser==2.22
pydantic==2.7.3
pydantic_core==2.18.4
PyJWT==2.8.0
python-dateutil==2.9.0.post0
pytz==2024.1
requests==2.32.3
requests-oauthlib==2.0.0
segno==1.6.1
six==1.16.0
sqlparse==0.5.0
typing_extensions==4.12.1
tzdata==2024.1
urllib3==2.2.1
zope.interface==6.4.post2
